.card{
    width: 550px;
    height: 400px;
    color:white;
    background-color:black;
    top: 200px;
    left: 500px;
    position: absolute;
    box-sizing: border-box;
    padding: 31px 40px;
    border: 1px solid black ;
    transform: translate(-50px,-50px);
}